<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PDF Test</title>
    <style>
        dt {
            font-size: 15px;
            font-weight: bold;
        }
        dd {
            font-size: 13px;
        }
    </style>
</head>
<body>
    {% for field in info %}
        <img src="{{ field.image.path }}" alt="" height="240px" width="240px">
        <br><br>
        <dt>FIRST NAME</dt>
        <dd>{{ field.first_name }}</dd>
        <dt>LAST NAME</dt>
        <dd>{{ field.last_name }}</dd>
        <dt>CIT</dt>
        <dd>{{ field.citizenship }}</dd>
        <dt>GEN</dt>
        <dd>{{ field.gen }}</dd>
        <dt>PERSONAL NO</dt>
        <dd>{{ field.personal_no }}</dd>
        <dt>DATE OF BIRTH</dt>
        <dd>{{ field.date_of_birth|date:"F d, Y" }}</dd>
        <dt>DATE OF EXPIRY</dt>
        <dd>{{ field.date_of_expiry|date:"F d, Y" }}</dd>
        <dt>SIGNATURE</dt>
        <dd>{{ field.signature }}</dd>
        <dt>CARD No</dt>
        <dd>{{ field.card_no }}</dd>
        <dt>PLACE OF BIRTH</dt>
        <dd>{{ field.place_of_birth }}</dd>
        <dt>DATE OF ISSUE</dt>
        <dd>{{ field.date_of_issue|date:"F d, Y" }}</dd>
        <dt>ISSUING AUTHORITY</dt>
        <dd>{{ field.issuing_authority }}</dd>
        {% if field.department %}
            <dt>DEPARTMENT</dt>
            <dd>{{ field.department }}</dd>
        {% endif %}
        {% if field.description %}
            <dt>DESCRIPTION</dt>
            {% for description in field.description.all %}
                {{ description }}
            {% endfor %}
        {% endif %}
    {% endfor %}
</body>
</html>